//
//  Debug.xcconfig
//  Bestie
//
//  Created by Brian Vallelunga on 10/6/15.
//  Copyright © 2015 Brian Vallelunga. All rights reserved.
//

PARSE_APPLICATION_ID = q1NZZSGYNxaYIQq5dDNkMlD407fmm2Hq6BoXBzu4
PARSE_CLIENT_KEY = aA6IKoTDyboREj5gNfWQ2PasrmaaRYtMTUlugje0
PARSE_PROJECT = debug

MIXPANEL_TOKEN = ae9f71c91262dc1c018c2b75aa5af8c3